<div class="background">
  <div class="container flex flex-row justify-between">
    <div class="img flex">
      <img src="/images/Rectangle 77.jpg" alt="Image" class="object-cover rounded-[20px]" />
    </div>

    <div class="content">
      <div class="header"><h2 class="m-0">LMS</h2></div>
      <div class="flex justify-center flex-col gap-3">
        <h2 class="m-0"><strong>Sign Up</strong></h2>
        <span class="text-gray-500 mb-3"
          >Let's get you all st up so you can access your personal
          account.</span
        >
        <form [formGroup]="signupForm" (submit)="onSubmit()">
        <div class="flex flex-col gap-[3px] mb-[5px]">
          <div class="row flex flex-row">
            <div class="col-6">
              <div class="custom-input">
                <label for="exampleFormControlInput1" class="form-label"
                  >First Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  formControlName="firstName"
                  id="firstName"
                  placeholder="Enter Name"
                />
                <div *ngIf="signupForm.get('firstName')?.invalid && signupForm.get('firstName')?.touched" class="text-danger">
                  <div *ngIf="signupForm.get('firstName')?.hasError('required')" class="text-sm">First Name is required.</div>
                  <div *ngIf="signupForm.get('firstName')?.hasError('minlength')" class="text-sm">First Name must be at least 5 characters long.</div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="custom-input">
                <label for="exampleFormControlInput1" class="form-label"
                  >Last Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  formControlName="lastName"
                  id="lastName"
                  placeholder="Enter Name"
                />
                <div *ngIf="signupForm.get('lastName')?.invalid && signupForm.get('lastName')?.touched" class="text-danger">
                  <div *ngIf="signupForm.get('lastName')?.hasError('required')" class="text-sm">Last Name is required.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row flex flex-row justify-between">
            <div class="col-6">
              <div class="custom-input">
                <label for="exampleFormControlInput1" class="form-label"
                  >Email address</label
                >
                <input
                  type="email"
                  class="form-control"
                  formControlName="email"
                  id="email"
                  placeholder="name@example.com"
                />
                <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" class="text-danger">
                  <div *ngIf="signupForm.get('email')?.hasError('required')" class="text-sm">Email is required.</div>
                  <div *ngIf="signupForm.get('email')?.hasError('email')" class="text-sm">Please enter a valid email address.</div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="custom-input">
                <label for="exampleFormControlInput1" class="form-label"
                  >Phone Number</label
                >
                <input
                  type="string"
                  formControlName="phone"
                  class="form-control"
                  id="phone"
                  placeholder="Enter phone number"
                />
                <div *ngIf="signupForm.get('phone')?.invalid && signupForm.get('phone')?.touched" class="text-danger">
                  <div *ngIf="signupForm.get('phone')?.hasError('required')" class="text-sm">Phone Number is required.</div>
                  <div *ngIf="signupForm.get('phone')?.hasError('pattern')" class="text-sm">Phone Number must be 10 digits long.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="custom-input mb-3 col-12">
            <label for="exampleFormControlInput1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              formControlName="password"
              class="form-control"
              id="password"
              placeholder="Enter a strong password"
            />
            <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" class="text-danger flex flex-column gap-[5px]">
              <div *ngIf="signupForm.get('password')?.hasError('required')" class="text-danger flex flex-row gap-[5px]">
                <div>*</div> <span> Password required.</span>
              </div>
              <div *ngIf="signupForm.get('password')?.hasError('minlength')" class="text-danger flex flex-row gap-[5px]">
                <div>*</div> <span> Password must be 6 characters long.</span>
              </div>
              <div *ngIf="signupForm.get('password')?.hasError('missingUppercase')" class="text-danger flex flex-row gap-[5px]">
                <div>*</div> <span>Password must contain at least one uppercase letter</span>
              </div>
              <div *ngIf="signupForm.get('password')?.hasError('missingLowercase')" class="text-danger flex flex-row gap-[5px]">
                <div>*</div> <span>Password must contain at least one lowercase letter</span>
              </div>
              <div *ngIf="signupForm.get('password')?.hasError('missingNumber')" class="text-danger flex flex-row gap-[5px]">
                <div>*</div> <span>Password must contain at least one number</span>
              </div>
            </div>
          </div>
          <div class="custom-input mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Confirm Password</label
            >
            <input
              type="password"
              formControlName="confirmPassword"
              class="form-control"
              id="ConfirmPassword"
              placeholder="Confirm the password"
            />
            <div *ngIf="signupForm.get('confirmPassword')?.invalid && signupForm.get('confirmPassword')?.touched" class="text-danger flex flex-column gap-[5px]">
              <div *ngIf="signupForm.get('confirmPassword')?.hasError('required')" class="text-danger flex flex-row gap-[5px]">
                <div>*</div> <span> Password required.</span>
              </div>
            </div>
          </div>
        </div>

        <button type=submit class="btn btn-primary p-2">Create Account</button>
      </form>
        <span class="text-center forget"
          >Already have an account?
          <a [routerLink]="'/signin'"
            >Login</a
          ></span
        >
      </div>
      <div class="w-100 text-center flex align-center justify-center">
        <span class="otherOption">Or Sign up with</span>
      </div>
      <div class="row justify-around">
        <div class="col-3 icons text-center" style="color: blue">
          <i class="fa-brands fa-facebook"></i>
        </div>
        <div class="col-3 icons text-center">
          <img src="/images/flat-color-icons_google.jpg" alt="Gooole" />
        </div>
        <div class="col-3 icons text-center">
          <i class="fa-brands fa-apple"></i>
        </div>
      </div>
    </div>
  </div>
</div>


