<div class="background">
  <div class="container flex flex-row justify-between">
    <div class="img flex">
      <img src="/images/signup_img.jpg" alt="Image" />
    </div>

    <div class="content">
      <div class="header"><h2 class="m-0">LMS</h2></div>
      <div class="flex justify-center flex-col gap-2">
        <h2 class="m-0"><strong>Sign Up</strong></h2>
        <span class="text-gray-500 mb-3"
          >Let's get you all st up so you can access your personal
          account.</span
        >
        <div class="flex flex-col">
          <div class="row flex flex-row">
            <div class="col-6">
              <div class="custom-input">
                <label for="exampleFormControlInput1" class="form-label"
                  >Email address</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="name@example.com"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="custom-input">
                <label for="exampleFormControlInput1" class="form-label"
                  >Email address</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="name@example.com"
                />
              </div>
            </div>
          </div>
          <div class="row flex flex-row justify-between">
            <div class="col-6">
              <div class="custom-input">
                <label for="exampleFormControlInput1" class="form-label"
                  >Email address</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="name@example.com"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="custom-input">
                <label for="exampleFormControlInput1" class="form-label"
                  >Email address</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="name@example.com"
                />
              </div>
            </div>
          </div>
          <div class="custom-input mb-3 col-12">
            <label for="exampleFormControlInput1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="name@example.com"
            />
          </div>
          <div class="custom-input mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="name@example.com"
            />
          </div>
        </div>
        <div class="">
          <div class="form-check form-check-inline m-0">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form" for="exampleFormControlInput1">I agree to all the <span style="color: red">Terms</span>  and <span style="color: red">Privacy Policies</span> </label>
          </div>
      </div>
      <button class="btn btn-primary p-2">Create Account</button>
      <span class="text-center">Already have an account? <a [routerLink]="'/signin'" style="color: red; font-size: 16px;" >Login</a></span>

      </div>
    <div class="w-100 text-center flex align-center justify-center">
      <span class="otherOption">Or Sign up with</span>
    </div>
          <div class="row justify-around">
            <div class=" col-3 icons text-center" style="color: blue;"><i class="fa-brands fa-facebook"></i></div>
            <div class="col-3  icons text-center"><img src="/images/flat-color-icons_google.jpg" alt="Gooole"></div>
            <div class="col-3  icons text-center"><i class="fa-brands fa-apple"></i></div>
          </div>
    </div>
  </div>
</div>
