<div *ngIf="loading$ | async">
  course loading
</div>

<div *ngIf="(loading$ | async) === false">
  <div class="course-main container mx-auto px-4 py-8">
    <div class="table-header bg-blue-500 text-white p-4 rounded-t-lg">
      <span class="header-text text-xl font-semibold">All Courses</span>
    </div>

    <div *ngIf="courses$ | async as courses">
    <div *ngFor="let course of courses; let i = index">
      <div class="relative group">
    <div class="course-list grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 mt-4">
      <div
        class="course bg-blue-100 p-4 rounded-lg shadow-md hover:shadow-lg hover:bg-blue-200 transition duration-300 cursor-pointer"
      >
      <span>course:{{i+1}}</span>
        <span class="course-name text-lg font-medium">{{course.title}}</span>
        <div class="course-status text-sm text-gray-600 mt-2">Status : {{course.status}}</div>
      </div>
    </div>
    <div class="absolute flex gap-[25px] left-[30%] top-[35px] ">
      <mat-icon class="mat-18 cursor-pointer"  (click)="onClick(course._id!)">edit</mat-icon>
      <mat-icon class="mat-18 cursor-pointer" (click)="deleteCourse(course._id!)">delete</mat-icon>
    </div>
  </div>
    </div>
  </div>
  </div>
  <app-add-course-form *ngIf="isFormVisible" [courseId]="courseId" (formVisibility)="toggleFormVisibility()">
  </app-add-course-form>
</div>

