<header class="bg-white">
  <div class="container flex align-items-center justify-between py-4">
    <span class="text-blue-800 font-semibold text-3xl cursor-pointer"><a routerLink="/home">Edutech</a> </span>

    <div class="flex items-center space-x-3 w-[300px] md:w-[400px] lg:w-[500px] relative">
      <input
        type="text"
        class="form-input w-full py-2 px-4 rounded-full border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
        id="search"
        placeholder="What do you want to learn?"
      >
      <div class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500 cursor-pointer">
        <mat-icon class="m-0">search</mat-icon>
      </div>
    </div>

    <div class="flex items-center space-x-6">
      <ul class="flex space-x-6 text-sm font-medium text-gray-600">
        <li class="hover:text-blue-600 cursor-pointer"><a routerLink="courses">Course</a></li>
        <li class="hover:text-blue-600 cursor-pointer"><a href="#">My learning</a></li>
        <li class="hover:text-blue-600 cursor-pointer"><a href="#">Cart</a></li>
      </ul>
      <div class="relative">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <img
            class="w-8 h-8 rounded-full border-2 border-gray-300"
            src="https://images.pexels.com/photos/27635347/pexels-photo-27635347/free-photo-of-retratos-de-um-jovem-modelo-bruxo-allan-marinsek.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="Profile Image"
          />
        </button>

        <div class="absolute">
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onLogout()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Logout</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voice mail</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</header>



