<div class="video-container">
  <div class="header-content">
    <h1 class="header-text">Course Files</h1>
  </div>
  <div class="content-wrapper px-5">
    <form [formGroup]="videoForm">
      <div formArrayName="section">
        <div
          *ngFor="let section of sections.controls; let i = index"
          [formGroupName]="i"
          class="section-card"
        >
          <div class="section-header">
            <input
              *ngIf="section.get('isEditable')?.value"
              type="text"
              formControlName="title"
              class="form-control section-input"
              placeholder="Enter section title"
            />
            <span *ngIf="!section.get('isEditable')?.value">
              {{ section.get('title')?.value }}
            </span>
            <div class="section-actions">
              <button
                *ngIf="section.get('isEditable')?.value"
                type="button"
                class="btn save"
                (click)="saveSection(i)"
              >
                Save
              </button>
              <button
                *ngIf="section.get('isEditable')?.value"
                type="button"
                class="btn remove"
                (click)="removeSection(i)"
              >
                Remove
              </button>
              <button
                *ngIf="!section.get('isEditable')?.value"
                type="button"
                class="btn edit"
                (click)="toggleEditMode(i)"
              >
                Edit
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <button class="btn add-section" (click)="addSection()">Add Section</button>
  </div>
</div>
