.video-container {
  width: 100%;
  max-width: 93%;
  height: auto;
  max-height: 100vh;
  margin: 50px 65px;
  border-radius: 10px;
  border: 1px solid gray;
}

.dropdown .drop-btn {
  border: none !important;
  outline: none !important;
}

.header-section {
  height: auto;
}
.header-content {
  padding: 20px 20px;
}
.lecture-section {
  height: 100vh;
  max-height: 45px;
  align-items: center;
  margin-top: 20px;
}

.section-title {
  border-radius: 10px;
  padding: 10px 20px;
}

.text-title {
  display: flex;
  gap: 40px;
  width: 100%;
  align-items:center ;
}
.section-group{
  border: 1px solid gray;
  padding: 40px 30px;
  max-height: 130px;
  border-radius: 10px;
  display: flex;
  margin-bottom: 40px;
}

.section {
  margin: 30px 0px 0px 0px;
}


.section-header {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom:20px;
}

.create-section {
  background-color: rgb(22, 22, 22);
  color: #FFFF;
  border: 1px solid black;
  width: 100%;
  max-width: 135px;
  height: 38px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
  font-weight: 400;
  justify-content: space-around;
  padding: 0px 10px;
}

.btn-sec {
  justify-content: space-evenly;
  width: 100%;
  max-width: 110px;
  padding: 0px 0px;
  margin-bottom: 20px;
}

.cancel {
  background-color: red;
  color: #FFFF;
  border: none;
}

.add {
  background-color: green;
  color: #FFFF;
  border: none;
}

.section-title {
  width: 100%;
  max-width: 80%;
  max-height: 50px;
  border: 1px solid rgb(231, 231, 231);
}
