<div class="video-container">
  <div class="header-content">
    <h1 class="header-text">Course Files</h1>
  </div>
  <div class="content-wrapper px-5">
    <form [formGroup]="videoForm">
      <div formArrayName="sections">
        <div
          *ngFor="let section of sections.controls; let i = index"
          [formGroupName]="i"
          class="section-card"
        >

        <app-section-component
        [sectionGroup]="section"
        [courseId]="courseId"
        (remove)="removeSection(i)"
        (save)="saveSection(i)"
        (toggleEditMode)="toggleEditMode(i)"
        ></app-section-component>
        </div>
      </div>
    </form>
    <button class="btn add-new-section" (click)="addSection()">Add Section</button>
  </div>
</div>
