<div class="overlay">
  <div class="overlay-content course-form">
    <div class="d-flex justify-content-between">
      <h2>Add New Course</h2>
      <mat-icon class="close-icon" (click)="closeForm()">close</mat-icon>
    </div>

    <form [formGroup]="createCourse" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="title">Course Title</label>
        <input
          type="text"
          id="title"
          formControlName="title"
          class="form-control"
          placeholder="Enter course title"
        />
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <select id="category" formControlName="category" class="form-control">
          <option value="" disabled selected>Select a category</option>
          <option *ngFor="let item of categories" [value]="item._id">
            {{ item.name }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="description">Course Description</label>
        <textarea
          id="description"
          formControlName="description"
          class="form-control"
          placeholder="Enter course description"
        ></textarea>
      </div>

      <div class="form-group">
        <label for="description">Course Price</label>
        <input
          type="number"
          id="price"
          formControlName="price"
          class="form-control"
          placeholder="Enter the price of the course"
        />
      </div>

      <!-- <div formArrayName="video">
        <div
          *ngFor="let video of videos.controls; let i = index"
          [formGroupName]="i"
        >
          <div class="form-group video-group">
            <label for="video{{1}}">Upload Video {{i + 1}}</label>
            <div class="">
              <label for="video">Upload videos</label>
              <input
                type="file"
                id="video{{ i }}"
                (change)="onVideoSelected($event, i)"
                name="video"
                class="form-control"
              />
              <button type="button" (click)="removeVideo(i)" *ngIf="i > 0">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="d-flex justify-center">
          <button type="button" class="add-video" (click)="addVideo()">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>
      </div> -->

      <!-- <div class="form-group">
        <label for="coverImage">Upload Cover Image</label>
        <input
          type="file"
          id="coverImage"
          (change)="onCoverImageChange($event)"
          class="form-control"
          name="coverImage"
        />
        <div *ngIf="addCourseForm.get('coverImage')?.invalid && addCourseForm.get('coverImage')?.touched" class="text-danger">
        Cover image is required.
      </div>
      </div> -->

      <!-- <div class="form-group">
        <label for="status">Status</label>
        <select id="status" formControlName="status" class="form-control">
          <option value="" selected disabled>Select status</option>
          <option value="Draft">Draft</option>
          <option value="Published">Published</option>
        </select>
      </div> -->

      <div class="d-flex justify-content-between">
        <button class="submit" type="submit"><mat-icon class="mat-18">create</mat-icon> Create</button>
        <button class="cancel" type="reset" (click)="closeForm()">
          cancel
        </button>
      </div>
    </form>
  </div>
</div>
