<div class="content-overview">
 <div class="chart-main">
  <div class="chart-header">
    <span class="chart-header-txt">
      Sale details
    </span>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
   <app-course-enrollment-chart />
 </div>


  <div class="table-user">
    <div class="table-header">
      <div class="mb-4">
      <span class="table-text"> Course list</span>
    </div>
  </div>
     <!-- Courses Table -->
      <div class="table-main-sec">
<app-table />
  <div class="more"><button routerLink="/admin-dashboard/courses">See More</button></div>
</div>

  </div>
</div>
